In [1]:
import tweepy
import pandas as pd
import pickle

# Authentication
consumer_api_key = 'xQJqJI7U49K175YaRxQIfbuQW'
consumer_api_secret_key = 'ZHXzjh6Vw5BHF77NJn6hEw8iKpWlc8ZmWmRuLNuyMEpzABzGbT'

access_token = '1233446515554705408-t2FeSvxBwSydx0HUKrcdACgqwcPkbF'
access_token_secret = '5jrcKajK5ZG5F1C520QrOHydqr8O8Gdr85Hl5BDCyWE4P'
 
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [2]:
api = tweepy.API(auth, wait_on_rate_limit=True)

In [3]:
def getTweets(searchString, df):
    for tweet in tweepy.Cursor(api.search_tweets, q=searchString, lang='en',until='2021-11-10').items(10000):
        df = df.append(pd.Series([tweet.user.screen_name, tweet.created_at, tweet.user.location, tweet.text], index=df.columns), ignore_index=True)
    return df

In [4]:
df1 = pd.DataFrame(columns=['screen_name', 'date_time', 'location', 'text'])

In [5]:
df1 = getTweets('UberEats', df1)

Rate limit reached. Sleeping for: 699
Rate limit reached. Sleeping for: 842
Rate limit reached. Sleeping for: 838
Rate limit reached. Sleeping for: 840

In [6]:
df1.shape

(10000, 4)

In [7]:
df1

,screen_name,date_time,location,text
0,iberoemello,2021-11-09 23:59:41+00:00,SC ⚠️,@UberEats thank you for your UberCigars servic...
1,slapthebowler,2021-11-09 23:58:43+00:00,Outside on the grill...,RT @AngryManTV: I've never ordered using Grubh...
2,xoxoreg,2021-11-09 23:58:09+00:00,,Who will watch Christmas classics with me and ...
3,LissSelenators,2021-11-09 23:58:05+00:00,,@UberEats hello good i need help with an order...
4,bmiyares0217,2021-11-09 23:56:48+00:00,,"Meant to say UberEats Pass, Never works ** @Ub..."
...,...,...,...,...
9995,sayohina3407,2021-11-03 11:22:54+00:00,よろぴくみん共和国連邦 相棒@chiro80202152,@fJPUZWmXAdNcNwQ UberEATS
9996,TweedyBixler,2021-11-03 11:22:40+00:00,"Jupiter, FL","Tonight, I'll be eating your mom and slurping ..."
9997,afranknicholson,2021-11-03 11:22:27+00:00,,@HullCity @UberEats Ingram!
9998,TONYdeBOSS,2021-11-03 11:21:26+00:00,"Anloga, Volta Ghana",RT @Kaz7ii: No way Ronaldo's got more Player o...
9999,L14M_L33,2021-11-03 11:21:06+00:00,,@UberEats I ordered McDonald’s breakfast a hou...

In [8]:
df1.to_csv(r'C:\Users\veera\Desktop\UberEats_34.csv')